<ul class="social__list">
    <li class="social__item">
        <a class="social__item-link"
           href="#">
            <svg class="social__icon"
                 data-src="./assets/icons/facebook.svg"></svg>
        </a>
    </li>
    <li class="social__item">
        <a class="social__item-link"
           href="#">
            <svg class="social__icon"
                 data-src="./assets/icons/twitter.svg"></svg>
        </a>
    </li>
    <li class="social__item">
        <a class="social__item-link"
           href="#">
            <svg class="social__icon"
                 data-src="./assets/icons/vkontakte.svg"></svg>
        </a>
    </li>
    <li class="social__item">
        <a class="social__item-link"
           href="#">
            <svg class="social__icon"
                 data-src="./assets/icons/whatsapp.svg"></svg>
        </a>
    </li>
</ul>