.social {
  &__list {
    display: flex;
    margin: 0 -10px;
  }
  &__item {
    &-link {
      display: flex;
      align-items: center;
      height: 50px;
      padding: 10px;
    }
    &:hover .social__icon {
      fill: var(--color-primary);
    }
  }
  &__icon  {
    fill: var(--color-white);
    transition: fill .2s ease-in-out;
    width: 24px;
    height: 24px;
  }
}

._bordered {
  .social {
    &__item {
      border-right: 1px solid var(--color-black);
      &:first-child {
        border-left: 1px solid var(--color-black);
      }
    }
  }
}
