<div class="section__primary">
  <div class="section__container about">
    <div class="about__container">
      <div class="about__text-container">
        <h3 class="about__title">THE MADE TO MEASURE DIFFERENCE</h3>
        <div class="about__line"></div>
        <div class="about__wrapper-desc">
          <span class="about__desc">We create suits and shirts customized to your exact measurements and personal style, at<br>excellent prices.</span>
        </div>
      </div>
      <a class="button_project2"
         type="button"
         href="#">SEE THE SUITS</a>
    </div>

  </div>
</div>
