.about {
  padding: 20px 0;
  &__container {
    text-align: center;
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  &__line {
    text-align: center;
    height: 2px;
    width: 60px;
    background-color: darkgray;
    margin-bottom: 20px;
  }
  &__desc {
    font-size: 14px;
  }
  &__wrapper-desc {
    display: inline-block;
  }
}
