<div class="main">
  <div class="main__container">
    <ul class="main__list _overflow-hidden">
      <li class="main__element">
        <a class="main__link "
           routerLink="/pages-1" routerLinkActive="active">
          <h3 class="main__sheet" routerLinkActive="active">Project 1</h3>
          <svg class="main__svg" routerLinkActive="active"
               data-src="./assets/icons/data-list.svg"></svg>
        </a>
      </li>
      <li class="main__element">
        <a class="main__link "
           routerLink="/pages-2" routerLinkActive="active">
          <h3 class="main__sheet" routerLinkActive="active">Project 2</h3>
          <svg class="main__svg " routerLinkActive="active"
               data-src="./assets/icons/data-list.svg"></svg>
        </a>
      </li>
      <li class="main__element ">
        <a class="main__link "
           routerLink="/pages-3">
          <h3 class="main__sheet" routerLinkActive="active">Project 3</h3>
          <svg class="main__svg" routerLinkActive="active"
               data-src="./assets/icons/data-list.svg"></svg>
        </a>
      </li>
    </ul>
  </div>
</div>

