.main {
  background: var(--color-lie);
  height: 100vh;
  &__container {
    display: flex;
    justify-content: center;
  }
  &__link {
    display: flex;
    align-items: center;
  }
  &__svg {
    margin-bottom: 20px;
    padding-left: 10px;
    height: 40px;
    fill: var(--color-secondary);
    transition: .3s ;
  }
  &__sheet {
    margin-bottom: 20px;
    font-size: 40px;
    color: var(--color-secondary);
    transition: .3s ;
  }
  &__element {
    display: flex;
    margin: 15px 0;
    color: var(--color-secondary);
    &:hover .main{
      &__sheet {
        color: var(--color-primary);
      }
      &__svg {
        fill: var(--color-primary);
      }
    }
  }
  }
.active {
  fill: var(--color-primary);
  color: var(--color-primary);
  transition: color .3s;
}
