<div class="section__primary header">
    <div class="section__container header__wrapper">
        <a class="header__logo"
           href="#">
            <img alt=""
                 class="header__logo-img"
                 src="./assets/images/logo-project2.jpg">
        </a>
    </div>
</div>

