.header {
  box-shadow: 0 2px 10px 0 #5f5f5f;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  &__wrapper {
    height: 50px;
  }
  &__logo {
    display: block;
    height: 100%;
    width: 200px;
    &-img {
      object-fit: cover;
    }
  }
}
