<header-app></header-app>
<section class="section__container">
	<div class="section__container-main">
		<main></main>
	</div>
	<div class="section__container-router">
		<router-outlet></router-outlet>
	</div>
</section>