.button_project2 {
  padding: 10px;
  color: #5f9ed8;
  min-width: 200px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: white;
  text-transform: uppercase;
  border: 2px solid #5f9ed8;
}
