.button {
  padding: 10px;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background: rgba(0,0,0,0);
  text-transform: uppercase;
  border: 2px solid var(--color-white);
  border-radius: 3px;
  min-width: 150px;
  &:hover {
    border: 2px solid var(--color-primary);
    background: var(--color-primary);
    color: white;
    transition: 0.3s;
  }
}