body {
  font-family: sans-serif;
}
.page {
  &__section {
    width: 100%;
    padding: 0 16px;
    max-width: 1920px;
    margin: 0 auto;
  }
}
._overflow-hidden {
  overflow: hidden;
}
.section-primary {
  background-color: var(--color-white);
}
.section-secondary {
  background-color: var(--color-secondary);
}
.page__container {
  margin-top: 50px;
}

.section {
  &__container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }
  &__primary {
    background-color: var(--color-white);
  }
  &__secondary {
    background-color: var(--color-tailor-project2);
  }
  &__alternative {
    background-color: var(--color-chinoook-project2);
  }
}

