//base colors
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #20d1af;
  --color-secondary: #2d3e50;
  --color-alternative: #a9a9a9;
  --color-alternative-lighten: #eef0ef;
  --color-content-hover: #c9c0c0;
  --color-status: #cfcfcf;
  --color-client-name: #9de7e3;
  --color-lie:#748597;
  --color-tailor-project2:#5f9dd8;
  --color-chinoook-project2:#323232;
}
