.feedback {
  color: var(--color-secondary);
  padding: 105px 0 160px;
  &__container {
    text-align: center;
  }
  &__title {
    margin-bottom: 10px;
    font-size: 37px;
  }
  &__text {
    color: var(--color-alternative);
    margin-bottom: 30px;
    font-size: 23px;
    font-weight: bold;
  }
  &__list {
    display: flex;
    overflow-x: auto;
    margin: 0 -5px;
    padding: 35px 0;
    &__elements {
      padding: 0 5px;
    }
  }
  &__desc {
    color: var(--color-status);
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
      }
  &__wrapper:hover &__desc {
    color: var(--color-alternative);
  }
  &__name {
    color: var(--color-client-name);
    font-size: 20px;
    padding-top: 10px;
  }
  &__wrapper:hover &__name {
    color: var(--color-primary);
  }
  &__status {
    color: var(--color-status);
    font-size: 15px;
  }
  &__wrapper:hover &__status {
    color: var(--color-content-hover);
  }

  &__wrapper {
    border: 2px solid var(--color-status);
    flex-shrink: 0;
    width: 550px;
    padding: 15px 25px;
    position: relative;
    text-align: start;
    &:hover {
      border: 5px solid var(--color-primary);
      border-bottom: 2px solid var(--color-content-hover);
      border-left: 2px solid var(--color-content-hover);
      border-right: 2px solid var(--color-content-hover);
      transition: .3s;
      padding: 12px 25px 15px;
      //&::before {
      //  transform: translate(420px,0);
      //  transition: .3s;
      //  border-right: 15px solid transparent;
      //  border-left: 50px solid transparent;
      //  border-top: 30px solid var(--color-content-hover);
      //  right: 29px;
      //  bottom: -32px;
      //  z-index: 1;
      //}
      //&::after {
      //  transform: translate(420px,0);
      //  transition: .3s;
      //  border-right: 15px solid transparent;
      //  border-left: 50px solid transparent;
      //  border-top: 30px solid var(--alternative-color);
      //  right: 30px;
      //  bottom: -29px;
      //  z-index: 2;
      //}
    }
  }
  //&__list::before, &__list::after {
  //  content: '';
  //  position: absolute;
  //  width: 0;
  //  height: 0;
  //}
  //&__list::before {
  //  border-right: 50px solid transparent;
  //  border-left: 15px solid transparent;
  //  border-top: 30px solid var(--color-ctatus);
  //  left: 29px;
  //  bottom: -32px;
  //  z-index: 1;
  //}
  //&__list::after {
  //  border-right: 50px solid transparent;
  //  border-left: 15px solid transparent;
  //  border-top: 30px solid var(--alternative-color);
  //  left: 30px;
  //  bottom: -29px;
  //  z-index: 2;
  //}
  @media (max-width: 1136px) {
    &__list {
      justify-content: start;
    }
  }
  @media (max-width: 640px) {
    padding: 10px 0;
    &__book-container {
     padding: 10px 0 30px 0;
    }
    &__title{
     font-size: 30px;
    }
    &_text{
     font-size: 17px;
    }
    &__wrapper {
    padding: 10px 10px;
    max-width: 260px;
      &:hover {
        padding: 7px 10px 10px;
      }
    }
  }
}
