<section class="page__section _overflow-hidden">
    <div class="feedback ">
        <div class="feedback__container">
            <h3 class="feedback__title">HAPPY CLIENTS</h3>
            <span class="feedback__text">what customer say about us and why love car cervices!
        </span>
            <ul class="feedback__list">
                <li class="feedback__list__elements">
                    <div class="feedback__wrapper">
                <span class="feedback__desc">Lorem ipsum is simple dummy text of the printing and typeset<br>industry.
                    Lorem ipsum has been the industry's standard<br>dummy text evei hen an with new version
                    look.</span>
                    <h3 class="feedback__name"> Client Name</h3>
                    <h5 class="feedback__status"> Unit Status</h5>
                    </div>
                </li>
                <li class="feedback__list__elements">
                    <div class="feedback__wrapper">
                <span class="feedback__desc">Lorem ipsum is simple dummy text of the printing and typeset<br>industry.
                    Lorem ipsum has been the industry's standard<br>dummy text evei hen an with new version
                    look.</span>
                    <h3 class="feedback__name"> Client Name</h3>
                    <h5 class="feedback__status"> Unit Status</h5>
                    </div>
                </li>
                <li class="feedback__list__elements">
                    <div class="feedback__wrapper">
                <span class="feedback__desc">Lorem ipsum is simple dummy text of the printing and typeset<br>industry.
                    Lorem ipsum has been the industry's standard<br>dummy text evei hen an with new version
                    look.</span>
                    <h3 class="feedback__name"> Client Name</h3>
                    <h5 class="feedback__status"> Unit Status</h5>
                        </div>
                </li>
                <li class="feedback__list__elements">
                    <div class="feedback__wrapper">
                <span class="feedback__desc">Lorem ipsum is simple dummy text of the printing and typeset<br>industry.
                    Lorem ipsum has been the industry's standard<br>dummy text evei hen an with new version
                    look.</span>
                    <h3 class="feedback__name"> Client Name</h3>
                    <h5 class="feedback__status"> Unit Status</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>