.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    height: 50px;
    color: var(--color-white);
  }
  &__list {
    display: flex;
    margin: 0 -40px;
  }
  &__item {
    border-left: 1px solid var(--color-black);
    &-link {
      padding: 0 40px;
      display: flex;
      align-items: center;
      height: 100%;
      color: var(--color-white);
      transition: background-color .2s ease-in-out;
      &:hover {
        background-color: var(--color-primary);
      }
    }
    &-icon {
      padding-right: 10px;
      height: 24px;
      width: 24px;
      fill: var(--color-white);
    }
    &-text {
      letter-spacing: .4px;
    }
    &:last-child {
      border-right: 1px solid var(--color-black);
    }
  }
  &__profile {
    &-button {
      display: none;
    }
  }

  @media (max-width: 1241px) {
    &__list {
      margin: 0 -10px;
    }
    &__item {
      &-link {
      padding: 0 10px;
    }
    }
  }

  @media (max-width: 1025px) {
    &__list {
      margin: 0 -5px;
      font-size: 14px;
    }
    &__item {
      padding: 0 5px;
      &-icon {
        padding-right: 5px;
        width: 16px;
        height: 16px;
      }
      &-link {
        padding: 0 5px;
      }
    }
  }
}

@media (max-width: 935px) {
  .header {
    &__list {
      display: none;
    }
    &__profile {
      &-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
      }
      &-icon {
        fill: var(--color-white);
        width: 36px;
        height: 36px;
        transition: fill .2s ease-in-out;
        &:hover {
          fill: var(--color-primary);
        }
      }
    }
  }
}


