<section class="section-secondary">
  <section class="page__section header _overflow-hidden"
           id="top">
    <div class="header__wrapper">
      <!--menu for mobile version-->
      <button class="header__profile-button"
              type="button">
        <svg class="header__profile-icon"
             data-src="./assets/icons/user-profile.svg"></svg>
      </button>
      <ul class="header__list">
        <li class="header__item">
          <a class="header__item-link"
             href="">
            <svg class="header__item-icon"
                 data-src="./assets/icons/login.svg"></svg>
            <span class="header__item-text">Agent Login</span>
          </a>
        </li>
        <li class="header__item">
          <a class="header__item-link"
             href="">
            <svg class="header__item-icon"
                 data-src="./assets/icons/login.svg"></svg>
            <span class="header__item-text">Customer Login</span>
          </a>
        </li>
        <li class="header__item">
          <a class="header__item-link"
             href="#">
            <svg class="header__item-icon"
                 data-src="./assets/icons/document-icon.svg"></svg>
            <span class="header__item-text">Not a Member? Register</span>

          </a>
        </li>
        <li class="header__item">
          <a class="header__item-link"
             href="tel:+375(29)874-15-84">
            <span class="header__item-text">Call us Now +375 (29) 874-15-84</span>
          </a>
        </li>
      </ul>
      <social-nav></social-nav>
      <div class="_bordered social-header"></div>
    </div>
  </section>
</section>
