.news {
  padding: 20px 0;
  &__container {
    text-align: center;
  }
  &__text-container {
    margin-bottom: 20px;
    color: white;
  }
  &__title {
    font-size: 10px;
    margin-bottom: 30px;
  }
  &__desc {
    font-size: 26px;
  }
  &__sub-desc {
    display: block;
    font-size: 10px;
    margin-top: 30px;
  }
  @media (max-width: 640px) {
    &__desc {
      font-size: 22px
    }
  }
}
