<div class="section__alternative">
    <div class="section__container news">
        <div class="news__container">
            <div class="news__text-container">
                <h3 class="news__title">INDOCHINA IN THE NEWS</h3>
                <span class="news__desc">"Indochina: It's-Too-Good-TO-Be-<br>True-That's-Actually-True-Custom Suit."</span>
	            <span class="news__sub-desc">-Forbes</span>
            </div>
            <a class="button_project2"
               type="button"
               href="#">BOOK AN APPOINTMENT</a>
        </div>
    </div>
</div>

