<section class="holidays__type _overflow-hidden">
    <div class="holidays__type__container">
        <div class="holidays__type__content">
            <h3 class="holidays__type__title">HOLIDAYS TYPE</h3>
            <span class="holidays__type__text">get explore your dream to travel the world!</span>
        </div>
        <ul class="holidays__type__list _overflow-hidden">
            <li class="holidays__type__element">
                <a class="holidays__type__link" href="#">
                    <div class="holidays__type__image">
                        <svg class="holidays__type__svg"
                             data-src="./assets/icons/ship_type.svg"></svg>
                    </div>
                    <h3 class="holidays__type__sheet">Cruise</h3>
                </a>
            </li>
            <li class="holidays__type__element">
                <a class="holidays__type__link" href="#">
                    <div class="holidays__type__image">
                        <svg class="holidays__type__svg"
                             data-src="./assets/icons/city_type.svg"></svg>
                    </div>
                    <h3 class="holidays__type__sheet">City Breaks</h3>
                </a>
            </li>
            <li class="holidays__type__element">
                <a class="holidays__type__link" href="#">
                    <div class="holidays__type__image">
                        <svg class="holidays__type__svg"
                             data-src="./assets/icons/two-hearts_type.svg"></svg>
                    </div>
                    <h3 class="holidays__type__sheet">Honeymoon</h3>
                </a>
            </li>
            <li class="holidays__type__element">
                <a class="holidays__type__link" href="#">
                    <div class="holidays__type__image">
                        <svg class="holidays__type__svg"
                             data-src="./assets/icons/compass_type.svg"></svg>
                    </div>
                    <h3 class="holidays__type__sheet">Adventure</h3>
                </a>
            </li>
            <li class="holidays__type__element">
                <a class="holidays__type__link" href="#">
                    <div class="holidays__type__image">
                        <svg class="holidays__type__svg"
                             data-src="./assets/icons/palm-tree_type.svg"></svg>
                    </div>
                    <h3 class="holidays__type__sheet">Safari</h3>
                </a>
            </li>
            <li class="holidays__type__element">
                <a class="holidays__type__link" href="#">
                    <div class="holidays__type__image">
                        <svg class="holidays__type__svg"
                             data-src="./assets/icons/sait-boat_type.svg"></svg>
                    </div>
                    <h3 class="holidays__type__sheet">Beach</h3>
                </a>
            </li>
        </ul>
    </div>
</section>
