.holidays__type {
  position: relative;
  color: white;
  padding: 100px 0 160px;
  background-color: var(--color-secondary);
  &::before {
    content: "";
    background: url(../../../../../assets/images/type_city.jpeg);
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .1;
  }
  &__container {
    text-align: center;
    position: relative;
  }
  &__content {
    margin-bottom: 80px;
  }
  &__list {
    display: flex;
    justify-content: center;
    margin: 0 -30px;
    flex-wrap: wrap;
  }
  &__element {
    color: var(--another-color);
    padding: 0 30px;
    &:hover .holidays__type{
      &__image {
        border-color: var(--color-primary);
      }
      &__sheet {
        color: var(--color-primary);
      }
      &__svg {
        fill: var(--color-primary);
      }
    }
  }
  &__image {
    border: 6px solid var(--color-white);
    border-radius: 100%;
    padding: 40px;
    margin-bottom: 20px;
    transition: .3s;
  }
  &__svg {
    width: 140px;
    height: 140px;
    fill: var(--color-white);
    transition: .3s;
  }
  &__title {
    text-align: center;
    font-size: 37px;
    margin-bottom: 10px;
  }
  &__text {
    color: var(--color-alternative);
    font-size: 23px;
  }
  &__sheet {
    color: var(--color-alternative);
    font-size: 27px;
    transition: .3s;
    margin-bottom: 20px;
  }
  @media (max-width: 1760px) {
    &__element  {
      padding: 0 40px 30px;
    }
  }
  @media (max-width: 800px) {
    padding: 10px 10px;
    &__svg {
      width: 80px;
      height: 80px;
    }
    &__content {
      margin-bottom: 20px;
    }
    &__list {
      overflow-x: auto;
    }
  }
}
