<section class="page__section special-offers">
    <h3 class="special-offers__title">Special offers</h3>
    <span class="special-offers__text">Best 2014 packages where people love to stay!</span>
    <div class="special-offers__list-wrapper">
    <ul class="special-offers__list">
        <li class="special-offers__item">
            <div class="special-offers__item-wrapper">
                <div class="special-offers__item-image">
                    <img src="assets/images/car1.jpg"
                         alt="">
                </div>
                <div class="special-offers__item-desc">
                    <div class="special-offers__item-text-wrapper">
                        <h5 class="special-offers__item-title">Hong Kong & Macau</h5>
                        <span class="special-offers__item-text">Desc about picture</span>
                    </div>
                        <button type="button" class="special-offers__arrow"></button>
                </div>
            </div>
        </li>
        <li class="special-offers__item">
            <div class="special-offers__item-wrapper">
                <div class="special-offers__item-image">
                    <img src="assets/images/car2.jpg"
                         alt="">
                </div>
                <div class="special-offers__item-desc">
                    <div class="special-offers__item-text-wrapper">
                        <h5 class="special-offers__item-title">Hong Kong & Macau</h5>
                        <span class="special-offers__item-text">Desc about picture</span>
                    </div>
                        <button type="button" class="special-offers__arrow"></button>
                </div>
            </div>
        </li>
        <li class="special-offers__item">
            <div class="special-offers__item-wrapper">
                <div class="special-offers__item-image">
                    <img src="assets/images/car3.jpg"
                         alt="">
                </div>
                <div class="special-offers__item-desc">
                    <div class="special-offers__item-text-wrapper">
                        <h5 class="special-offers__item-title">Hong Kong & Macau</h5>
                        <span class="special-offers__item-text">Desc about picture</span>
                    </div>
                        <button type="button" class="special-offers__arrow"></button>
                </div>
            </div>
        </li>
        <li class="special-offers__item">
            <div class="special-offers__item-wrapper">
                <div class="special-offers__item-image">
                    <img src="assets/images/car4.jpg"
                         alt="">
                </div>
                <div class="special-offers__item-desc">
                    <div class="special-offers__item-text-wrapper">
                        <h5 class="special-offers__item-title">Hong Kong & Macau</h5>
                        <span class="special-offers__item-text">Desc about picture</span>
                    </div>
                        <button type="button" class="special-offers__arrow"></button>
                </div>
            </div>
        </li>
        <li class="special-offers__item">
            <div class="special-offers__item-wrapper">
                <div class="special-offers__item-image">
                    <img src="assets/images/car5.jpg"
                         alt="">
                </div>
                <div class="special-offers__item-desc">
                    <div class="special-offers__item-text-wrapper">
                        <h5 class="special-offers__item-title">Hong Kong & Macau</h5>
                        <span class="special-offers__item-text">Desc about picture</span>
                    </div>
                        <button type="button" class="special-offers__arrow"></button>
                </div>
            </div>
        </li>
        <li class="special-offers__item">
            <div class="special-offers__item-wrapper">
                <div class="special-offers__item-image">
                    <img src="assets/images/car6.jpg"
                         alt="">
                </div>
                <div class="special-offers__item-desc">
                    <div class="special-offers__item-text-wrapper">
                        <h5 class="special-offers__item-title">Hong Kong & Macau</h5>
                        <span class="special-offers__item-text">Desc about picture</span>
                    </div>
                        <button type="button" class="special-offers__arrow"></button>
                </div>
            </div>
        </li>
        <li class="special-offers__item">
            <div class="special-offers__item-wrapper">
                <div class="special-offers__item-image">
                    <img src="assets/images/car7.jpg"
                         alt="">
                </div>
                <div class="special-offers__item-desc">
                    <div class="special-offers__item-text-wrapper">
                        <h5 class="special-offers__item-title">Hong Kong & Macau</h5>
                        <span class="special-offers__item-text">Desc about picture</span>
                    </div>
                        <button type="button" class="special-offers__arrow"></button>
                </div>
            </div>
        </li>
        <li class="special-offers__item">
            <div class="special-offers__item-wrapper">
                <div class="special-offers__item-image">
                    <img src="assets/images/car8.jpg"
                         alt="">
                </div>
                <div class="special-offers__item-desc">
                    <div class="special-offers__item-text-wrapper">
                        <h5 class="special-offers__item-title">Hong Kong & Macau</h5>
                        <span class="special-offers__item-text">Desc about picture</span>
                    </div>
                        <button type="button" class="special-offers__arrow"></button>
                </div>
            </div>
        </li>
        <li class="special-offers__item">
            <div class="special-offers__item-wrapper">
                <div class="special-offers__item-image">
                    <img src="assets/images/car9.jpg"
                         alt="">
                </div>
                <div class="special-offers__item-desc">
                    <div class="special-offers__item-text-wrapper">
                        <h5 class="special-offers__item-title">Hong Kong & Macau</h5>
                        <span class="special-offers__item-text">Desc about picture</span>
                    </div>
                        <button type="button" class="special-offers__arrow"></button>
                </div>
            </div>
        </li>
        <li class="special-offers__item">
            <div class="special-offers__item-wrapper">
                <div class="special-offers__item-image">
                    <img src="assets/images/car10.jpg"
                         alt="">
                </div>
                <div class="special-offers__item-desc">
                    <div class="special-offers__item-text-wrapper">
                        <h5 class="special-offers__item-title">Hong Kong & Macau</h5>
                        <span class="special-offers__item-text">Desc about picture</span>
                    </div>
                        <button type="button" class="special-offers__arrow"></button>
                </div>
            </div>
        </li>
    </ul>
    </div>
</section>