.special-offers {
  text-align: center;
  padding: 100px 0;
  overflow: hidden;
  &__title {
    margin: 0 0 10px 0;
    font-size: 37px;
    text-transform: uppercase;
    color: var(--color-secondary);
  }
  &__text {
    margin: 0 0 30px 0;
    font-size: 23px;
    color: var(--color-secondary);
  }
  &__list {
    position: absolute;
    display: flex;
    align-items: center;
    margin: 0 -10px;
    width: 100%;
    &-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      height: 500px;
      width: 100%;
      overflow-x: auto;
    }
  }
  &__item {
    padding: 0 10px;
    flex-shrink: 0;
    width: 300px;
    &:hover {
      .special-offers {
        &__item {
          &-desc {
            height: 100px;
            color: var(--color-white);
            background-color: var(--color-secondary);
          }
          &-wrapper {
            border-color: var(--color-primary);
          }
          &-image {
            height: 330px;
          }
        }
        &__arrow {
          border-top: 3px solid var(--color-white);
          border-right: 3px solid var(--color-white);
          &:hover {
            border-top: 3px solid var(--color-primary);
            border-right: 3px solid var(--color-primary);
          }
        }
      }
    }
    &-title {
      font-size: 16px;
      font-weight: 600;
    }
    &-text {
      font-size: 14px;
      &-wrapper {
      }
    }
    &-wrapper {
      border-radius: 2px;
      transition: border-color .2s ease-out;
      border: 4px solid var(--color-alternative-lighten);
    }
    &-image {
      width: 100%;
      height: 300px;
      transition: height .2s ease-out;
      & img {
        object-fit: cover;
      }
    }
    &-desc {
      display: flex;
      justify-content: space-between;
      height: 70px;
      padding: 20px 24px 20px 16px;
      text-align: left;
      color: var(--color-secondary);
      transition: .2s ease-out;
      background-color: var(--color-alternative-lighten);
    }
  }
  &__arrow {
    display: block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-top: 3px solid var(--color-secondary);
    border-right: 3px solid var(--color-secondary);
    transform: rotate(135deg);
    transition: border-color .2s ease-in-out;
  }
}

@media (max-width: 960px) {
  .special-offers {
    padding: 50px 0;
    &__title {
    }
    font-size: 22px;
    &__text {
      font-size: 14px;
    }
    &__item {
      &-title {
        font-size: 14px;
      }
      &-text {
        font-size: 12px;
      }
    }
    &__arrow {
      height: 8px;
      width: 8px;
      border-top: 2px solid var(--color-secondary);
      border-right: 2px solid var(--color-secondary);
    }
  }
}

