<div class="section__alternative">
    <div class="section__container skills">
        <div class="skills__container">
            <div class="skills__text-container">
                <h3 class="skills__title">VISIT US AT CHINOOK CENTRE</h3>
                <span class="skills__desc">Mon to Sat 9:30-9<br>Sun 11-7<br>Across from Lulu lemon on level 1</span>
	            <span class="skills__sub-desc">Grand Opening on April 6</span>
            </div>
            <a class="button_project2"
               type="button"
               href="#">BOOK AN APPOINTMENT</a>
        </div>
    </div>
</div>


