.skills {
  padding: 30px 0;
  &__container {
    text-align: center;
  }
  &__text-container {
    margin-bottom: 20px;
    color: white;
  }
  &__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  &__desc {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 2;
  }
  &__sub-desc {
    display: block;
    padding-top: 30px;
    margin-bottom: 10px;
  }
  @media (max-width: 640px) {
    padding: 20px 0;
  }
}
