
section {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  color: #c1c1c1;
  background-color: white;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: center;
}
h2, h3{
  color: black;
}
h1, h2{
  text-transform: uppercase;
  color: black;
}
img{
  object-fit: cover
}
.dtn {
  display: inline-block;
  width: 200px;
  padding: 10px;
  text-align: center;
  color: #c1c1c1;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid black;
  background-color: black;
}
.btn {
  display: inline-block;
  width: 200px;
  padding: 10px;
  text-align: center;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid black;
}
.pro {
  color: black;
}

.top {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  color: #c1c1c1;
  background-color: white;
}
.promo {
  text-align: left;
  min-height: 400px;
  padding-top: 220px;
  padding-left: 80px;
  background-image: url(../../../../../assets/images/car1-project1.jpeg);
  background-position: center;
}
.features1 {
  display: inline-flex;
  justify-content: space-between;
}
.feature-item1 {
  height: 400px;
  width: 500px;
  padding: 60px;
  text-align: center;
}
.imag4 {
  height: 800px;
  width: 70%;
}
.features2 {
  display: inline-flex;
  justify-content: space-between;
  background-position: center;
}
.feature-item2 {
  height: 600px;
  width: 460px;
  padding: 60px;
  text-align: left;
  background-position: center;

}
.features3{
  display: inline-flex;
  justify-content: space-evenly;
}
.feature-item3 {
  height: 800px;
  width: 30%;
  padding: 60px;
  text-align: right;
  background-position: center;
}
.fiit {
  padding: 60px;
  text-align: center;
}
.footer{
  color: #c1c1c1;
  background-color: white;
}
.fsocial {
  padding: 0;
  display: inline-flex;
}
.social {
  height: 30px;
  width: 30px;
}
.fmiddle {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.fmiddle [src="../New folder/5.jpg"] {
  height:250px;
  width: 130px;
  padding-bottom: 10px;
}
.footer-middle2 {
  display: inline-flex;
  height:150px;
  width: 100%;
}
input[name=login]{
  justify-content: space-evenly;
  color: #c1c1c1;
  background-color: white;
  width:300px;
  height: 35px;
  padding-left: 10px;
  text-align: left;
}
.full {
  border:2px solid black;
}
.navi {
  display: inline-flex;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.image {
  width: 170px;
  height: 170px;
  padding: 2px;
}
a {
  text-decoration: none;
  padding-left: 10px;
}
li {
  display: inline-block;
  padding: 20px;
  padding-left: 10px;
}
.sweetik {
  text-transform: uppercase;
  padding-top: 30px;
  padding-left: 40px;
  font-size: 200%;
}
.footer-bottom {
  border-top: 2px solid black;
  display: flex;
  padding: 20px;
  padding-left: 10px;
}
.qwe {
  text-align: center;
  padding-bottom: 20px;
}
.mainnavbottom {
  text-align: center;
  padding-top: 20px;
  font-size: 70%;
}
.footer-middle2 [src="../New folder/5.jpg"] {
  padding-left: 10px;
}
.footer-middle2 :nth-child(1) {
  padding-left: 0px;
}

