<section >
  <div class="container">
    <header class="head">
      <nav class="top navheader">
        <ul class="main-navheader">
          <li><a href="file:///D:/Projects/fud%20end%20decking/index.html#">Score</a></li>
          <li><a href="file:///D:/Projects/fud%20end%20decking/index.html#">Catalog</a></li>
          <li><a href="file:///D:/Projects/fud%20end%20decking/index.html#">Reviews</a></li>
          <li><a href="file:///D:/Projects/fud%20end%20decking/index.html#">Offers</a></li>
          <li><a href="file:///D:/Projects/fud%20end%20decking/index.html#">Stock</a></li>
        </ul>
      </nav>
      <div class="sweetik"> sweetik
      </div>
    </header>
      <div class="promo">
        <h1>food and<br> baking is my<br> life</h1>
        <p class="pro">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet"
        </p>
        <a class="btn" href="file:///D:/Projects/fud%20end%20decking/index.html#">To order</a>
      </div>
  </div>

  <div class="features1">
    <div class="imag1">
      <img src="./assets/images/car2-project1.jpg" width="100%" height="100%"><img>
    </div>
    <div class="feature-item1">
      <h2>about us
      </h2>
      <h3>Why do we use it?
      </h3>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
        at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        opposed to using 'Content here, content here', making it look like readable English.
      </p>
      <a class="btn" href="file:///D:/Projects/fud%20end%20decking/index.html#">To order</a>
    </div>
    <div class="imag2">
      <img src="./assets/images/car3-project1.jpg" width="100%" height="100%">
    </div>

  </div>
  <div class="features2">
    <div class="imag3">
      <img src="./assets/images/car4-project1.jpg" width="100%" height="100%">
    </div>
    <div class="feature-item2">
      <h2>my recipe<br>articles
      </h2>
      <h3>What is Lorem Ipsum?
      </h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
      <a class="btn" href="file:///D:/Projects/fud%20end%20decking/index.html#">To order</a>
    </div>
  </div>
  <div class="features3">

    <div class="feature-item3">
      <h2>my food<br>reviews
      </h2>
      <h3>Where can I get some?
      </h3>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
        to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of
        text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this
        the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful
        of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is
        therefore always free from repetition, injected humour, or non-characteristic words etc
      </p>
      <a class="btn" href="file:///D:/Projects/fud%20end%20decking/index.html#">To order</a>

    </div>
    <div class="imag4">
      <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
    </div>

  </div>
  <div class="footer">
    <div class="fiit">
      <div class="footer-top">
        <h2>contact me
        </h2>
        <p>Can you help translate this site into a foreign language ?<br> Please email us with details if you can help.
        </p>
      </div>
      <div class="fsocial">
        <a class="social" href="file:///D:/Projects/fud%20end%20decking/index.html#">
          <img src="./assets/images/car5-project1.jpg" width="100%" height="100%" alt="Вконтакте">
        </a>
        <a class="social" href="file:///D:/Projects/fud%20end%20decking/index.html#">
          <img src="./assets/images/car5-project1.jpg" width="100%" height="100%" alt="Вконтакте">
        </a>
        <a class="social" href="file:///D:/Projects/fud%20end%20decking/index.html#">
          <img src="./assets/images/car5-project1.jpg" width="100%" height="100%" alt="Вконтакте">
        </a>
        <a class="social" href="file:///D:/Projects/fud%20end%20decking/index.html#">
          <img src="./assets/images/car5-project1.jpg" width="100%" height="100%" alt="Вконтакте">
        </a>
        <a class="social" href="file:///D:/Projects/fud%20end%20decking/index.html#">
          <img src="./assets/images/car5-project1.jpg" width="100%" height="100%" alt="Вконтакте">
        </a>
        <a class="social" href="file:///D:/Projects/fud%20end%20decking/index.html#">
          <img src="./assets/images/car5-project1.jpg" width="100%" height="100%" alt="Вконтакте">
        </a>
        <a class="social" href="file:///D:/Projects/fud%20end%20decking/index.html#">
          <img src="./assets/images/car5-project1.jpg" width="100%" height="100%" alt="Вконтакте">
        </a>
      </div>
      <form class="fullnname">
        <input class="full"name="login" type="text" placeholder="fullnname">
        <input class="dtn" type="submit" value="Send">
      </form>
    </div>

    <div class="fmiddle">
      <div class="image">
      <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
      </div>
      <div class="image">
      <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
      </div>
      <div class="image">
      <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
      </div>
      <div class="image">
      <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
      </div>
      <div class="image">
      <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
      </div>
      <div class="image">
      <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
      </div>
      <div class="image">
      <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
      </div>
      <div class="image">
      <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
      </div>
      <div class="image">
      <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
      </div>
      <div class="image">
      <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
      </div>
      <div class="image">
      <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
      </div>
      <div class="image">
      <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
      </div>
      <div class="image">
      <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
      </div>
      <div class="image">
      <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
      </div>
    </div>

    <footer class="podval">
      <nav class="navi">
        <ul class="mainnavbottom">
          <li><a href="file:///D:/Projects/fud%20end%20decking/index.html#">Help</a></li>
          <li><a href="file:///D:/Projects/fud%20end%20decking/index.html#">Contact support</a></li>
          <li><a href="file:///D:/Projects/fud%20end%20decking/index.html#">Symbols</a></li>
          <li><a href="file:///D:/Projects/fud%20end%20decking/index.html#">Contacts</a></li>
          <li><a href="file:///D:/Projects/fud%20end%20decking/index.html#">Sponsors</a></li>
        </ul>
        <div class="fer">
          <div class="fsocial">
            <a class="social" href="file:///D:/Projects/fud%20end%20decking/index.html#">
              <img src="./assets/images/car5-project1.jpg" width="100%" height="100%" alt="Вконтакте">
            </a>
            <a class="social" href="file:///D:/Projects/fud%20end%20decking/index.html#">
              <img src="./assets/images/car5-project1.jpg" width="100%" height="100%" alt="Вконтакте">
            </a>
            <a class="social" href="file:///D:/Projects/fud%20end%20decking/index.html#">
              <img src="./assets/images/car5-project1.jpg" width="100%" height="100%" alt="Вконтакте">
            </a>
            <a class="social" href="file:///D:/Projects/fud%20end%20decking/index.html#">
              <img src="./assets/images/car5-project1.jpg" width="100%" height="100%" alt="Вконтакте">
            </a>
            <a class="social" href="file:///D:/Projects/fud%20end%20decking/index.html#">
              <img src="./assets/images/car5-project1.jpg" width="100%" height="100%" alt="Вконтакте">
            </a>
            <a class="social" href="file:///D:/Projects/fud%20end%20decking/index.html#">
              <img src="./assets/images/car5-project1.jpg" width="100%" height="100%" alt="Вконтакте">
            </a>
            <a class="social" href="file:///D:/Projects/fud%20end%20decking/index.html#">
              <img src="./assets/images/car5-project1.jpg" width="100%" height="100%" alt="Вконтакте">
            </a>
          </div>
          <div class="qwe">Please email us with details if you can help.
          </div>
        </div>
      </nav>

      <div class="footer-middle2">
        <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
        <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
        <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
        <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
        <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
        <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
        <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
        <img src="./assets/images/car5-project1.jpg" width="100%" height="100%">
      </div>
    </footer>
  </div>
</section>
