.books {
  &__list {
    width: 100%;
    display: flex;
    margin: 0 -30px;
    overflow: hidden;
    justify-content: center;
    &-wrapper {
      overflow: hidden;
    }
    &-item {
      text-align: center;
      padding: 16px 30px;
      width: calc(100% / 3)
    }
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  &__image {
    width: 90px;
    margin-left: auto;
    margin-right: auto;
  }
  &__title {
    font-size: 15px;
    margin-bottom: 10px;
  }
  &__line {
    text-align: center;
    height: 2px;
    width: 60px;
    background-color: white;
    margin-bottom: 20px;
  }
  &__desc {
    font-size: 14px;
  }
  &__wrapper-desc {
    display: inline-block;
  }
  @media (max-width: 1136px) {
    &__list {
    margin: 0 -10px;
    }
    &__list-item {
    padding: 10px;
    }
  }
  @media (max-width: 1024px) {
    &__list {
      margin: 0 -5px;
    }
  }
  @media (max-width: 640px) {
    &__list {
      flex-direction: column;
      align-items: center;
      &-item {
        width: 100%;

      }
    }
  }
}

