<div class="section__secondary">
    <div class="section__container books">
        <div class="books__list-wrapper">
            <ul class="books__list">
                <li class="books__list-item">
                    <div class="books__image">
                        <img class="books__image-png"
                             alt=""
                             src="./assets/images/book-icon-project2.png">
                    </div>
                    <div class="books__text-container">
                        <h3 class="books__title">COME SEE USE</h3>
                        <div class="books__line"></div>
                        <div class="books__wrapper-desc">
                            <span class="books__desc">We create suits and shirts customized to<br>your exact measurements and personal style, at<br>excellent prices.</span>
                        </div>
                    </div>
                </li>
                <li class="books__list-item">
                    <div class="books__image">
                        <img class="books__image-png"
                             alt=""
                             src="./assets/images/book-icon-project2.png">
                    </div>
                    <div class="books__text-container">
                        <h3 class="books__title">MAKE IT YOUR OWN</h3>
                        <div class="books__line"></div>
                        <div class="books__wrapper-desc">
                            <span class="books__desc">We create suits and shirts customized to<br>your exact measurements and personal style, at<br>yuor exact measurements and pesnal style,<br> at excellent prices.</span>
                        </div>
                    </div>
                </li>
                <li class="books__list-item">
                    <div class="books__image">
                        <img class="books__image-png"
                             alt=""
                             src="./assets/images/book-icon-project2.png">
                    </div>
                    <div class="books__text-container">
                        <h3 class="books__title">PERFECT THE FIT</h3>
                        <div class="books__line"></div>
                        <div class="books__wrapper-desc">
                            <span class="books__desc">We create suits and shirts customized to<br>your exact measurements and personal style, at<br>your exact measurements and personal style,<br> at excellent prices.</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
