.navigation {
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  &__menu {
    overflow: hidden;
  }
  &__menu__button {
    display: none;
  }
  &__wrapper__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    margin: 0 -20px;
    letter-spacing: 3px;
    &-item {
      padding: 0 20px;
    }
    &-link {
      color: var(--color-secondary);
      transition: color .2s;
      &:hover {
        color: var(--color-primary);
      }
    }
  }
  &__logo {
    display: block;
    width: 190px;
  }
  &__search {
    padding-left: 50px;
    display: block;
    }
  &__svg {
    width: 40px;
    height: 40px;
    fill: var(--color-secondary);
    transition: fill .2s;
    &:hover {
      fill: var(--color-primary);
    }
  }
  @media (max-width: 1136px) {
    justify-content: start;
    &__menu__button {
      display: block;
      &-icon {
        width: 40px;
        height: 40px;
        fill: var(--color-secondary);
        transition: fill .2s ease-in-out;
        &:hover {
          fill: var(--color-primary);
        }
      }
    }
    &__list {
      display: none;
    }
    &__search {
      display: none;
    }
  }
}
.active {
  color: var(--color-primary);
  transition: color .2s;
}
