<section class="page__section">
    <div class="navigation">
        <a class="navigation__logo"
           href="#">
            <img alt=""
                 class="navigation__logo-img"
                 src="/assets/images/navigation_logo.jpg">
        </a>
        <div class="navigation__wrapper__section">
            <div class="navigation__text__container">
                <button class="navigation__menu__button"
                        type="submit">
                    <svg class="navigation__menu__button-icon"
                         data-src="./assets/icons/menu_navigation.svg"></svg>
                </button>
                <ul class="navigation__list _overflow-hidden">
                    <li class="navigation__list-item">
                        <a class="navigation__list-link "
                           routerLink ="/home" routerLinkActive="active">HOME</a>
                    </li>
                    <li class="navigation__list-item">
                        <a class="navigation__list-link"
                           routerLink="/destinations" routerLinkActive="active">DESTINATIONS</a>
                    </li>
                    <li class="navigation__list-item">
                        <a class="navigation__list-link"
                           routerLink="/cruises" routerLinkActive="active">CRUISES</a>
                    </li>
                    <li class="navigation__list-item">
                        <a class="navigation__list-link"
                           routerLink="/specials" routerLinkActive="active">SPECIALS</a>
                    </li>
                    <li class="navigation__list-item">
                        <a class="navigation__list-link"
                           routerLink="/holidays" routerLinkActive="active">HOLIDAYS</a>
                    </li>
                    <li class="navigation__list-item">
                        <a class="navigation__list-link"
                           routerLink="/blog" routerLinkActive="active">BLOG</a>
                    </li>
                </ul>
            </div>
            <a class="navigation__search"
               href="#">
                <svg class="navigation__svg"
                     data-src="./assets/icons/navigation_search.svg"></svg>
            </a>
        </div>
    </div>
</section>
