<div class="section__primary">
    <div class="section__container social">
        <ul class="social__list">
            <li class="social__list-item">
                <a class="social__list-link"
                   type="button"
                   href="#">
                    <img class="social__list-img"
                         alt=""
                         src="./assets/images/facebook-project2.png">
                </a>
            </li>
            <li class="social__list-item">
                <a class="social__list-link"
                   type="button"
                   href="#">
                    <img class="social__list-img"
                         alt=""
                         src="./assets/images/instagramm-project2.png">
                </a>
            </li>
            <li class="social__list-item">
                <a class="social__list-link"
                   type="button"
                   href="#">
                    <img class="social__list-img"
                         alt=""
                         src="./assets/images/twitter-project2.png">
                </a>
            </li>
        </ul>
        <div class="social__wrapper-desc">
            <span class="social__desc">Copyright 2006-2017 indo chino lnc. All rights reserved</span>
        </div>
        <a class="social__link"
           href="#">See contents terms end conditions</a>
    </div>
</div>

