.social {
  padding: 16px 0 30px;
  text-align: center;
  overflow-x: hidden;
  &__list {
    display: flex;
    justify-content: center;
    margin: 0 -10px 20px;
  }
  &__list {
    &-item {
      padding: 0 10px;
    }
    &-link {
      display: block;
      width: 36px;
      height: 36px;
    }
  }
  &__wrapper-desc {
    color: darkgray;
    margin-bottom: 11px;
    font-size: 11px;
  }
  &__link {
    color: #5f9dd8;
    font-size: 11px;
  }
  @media (max-width: 640px) {
    padding: 10px;
    &__title {
      font-size: 20px;
    }
  }
}
