<div class="section__secondary">
    <div class="section__container main">
        <div class="main__container">
            <div class="main__text-container">
                <h2 class="main__title">THE TAILOR IS IN</h2>
                <div class="main__wrapper-desc">
                            <span class="main__desc">The ultimate custom menswear experience<br>in now open in
                                <span class="main__bold">Chinook Center.</span>
                            </span>
                    <div class="main__line"></div>
                    <span class="main__desc">Visit us by April 30 to be entered in a draw<br>for a perfectly tailored wardrobe.</span>
                </div>
            </div>
            <a class="button_project2"
               type="button"
               href="#">BOOK AN AP POINTMENT</a>
        </div>
    </div>
</div>

