.main {
  display: flex;
  color: white;
  padding: 131px 0 202px;
  justify-content: flex-end;
  background-image: url(../../../../../assets/images/main-bg-project2.png);
  background-repeat: no-repeat;
  background-position: center center;
  &__container {
    width: 50%;
  }
  &__text-container {
    margin-bottom: 20px;
  }
  &__title {
    font-size: 32px;
    margin-bottom: 30px;
  }
  &__desc {
    font-size: 14px;
  }
  &__bold {
    font-weight: 700;
  }
  &__line {
    height: 2px;
    background-color: white;
    margin: 12px 0;
  }
  &__wrapper-desc {
    display: inline-block;
  }
  @media (max-width: 640px) {
    background-image: none;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-align: center;
    &__container {
      width: 100%;
    }
    &__title {
      font-size: 22px;
    }

  }
}
.button:hover {
  border: 2px solid #5f9ed8;
  color: #5f9ed8;
  background: rgba(0,0,0,0);
  color: white;
}
