.footer {
  &__navigation {
    display: block;
    padding: 20px 0 0;
    text-align: center;
    box-shadow: 0 -1px 0 0 var(--color-lie);
    overflow: hidden;
  }
  &__title {
    font-size: 18px;
    margin: 0 0 20px 0;
    color: var(--color-primary);
  }
  &__text {
    font-size: 14px;
    letter-spacing: .2px;
    margin: 0 0 10px 0;
    color: var(--color-white);
    transition: color .2s ease-in-out;
    &._color-primary {
      color: var(--color-primary);
    }
  }
  &__section {
    &-list {
      display: flex;
      margin: 0 -40px;
      flex-shrink: 0;
    }
    &-item {
      width: calc(100% / 4);
      padding: 40px;
    }
  }
  &__news {
    &-list {
      max-height: 250px;
      overflow-y: auto;
    }
    &-item {
      margin: 0 0 20px 0;
      &-link {
        display: flex;
      }
      &-image {
        cursor: pointer;
        width: 40px;
        height: 40px;
        padding: 3px;
        border: 1px solid var(--color-white);
        transition: border-color .2s ease-in-out;
        & img {
          object-fit: cover;
        }
      }
      &:hover {
        .footer {
          &__text {
            color: var(--color-primary);
          }
          &__news {
            &-item {
              &-image {
                border-color: var(--color-primary);
              }
            }
          }
        }
      }
      &:last-child {
        margin: 0;
      }
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      margin: 0 0 0 10px;
      width: 80%;
    }
    &-data {
      color: var(--color-primary);
    }
  }
  &__newsletter {
    &-label {
      display: flex;
      flex-grow: 1;
      max-width: 380px;
    }
    &-button {
      cursor: pointer;
      text-transform: none;
      margin: 0 0 0 10px;
      border-radius: 0;
      min-width: 60px;
    }
    &-input {
      width: 100%;
      background-color: var(--color-white);
      padding: 10px;
      color: var(--color-secondary);
      float: left;
      transition: border-color 0.3s ease-in-out;
    }
  }
  &__tags {
    &-item {
      display: inline-block;
      padding: 0 10px 10px 0;
      float: left;
    }
    &-link {
      font-size: 14px;
      min-width: 60px;
    }
  }
  &__link {
    padding: 10px;
    display: inline-block;
    text-transform: none;
    color: var(--color-white);
  }
  &__list {
    display: flex;
    justify-content: center;
    margin: 0 -5px 15px;
    &-item {
      padding: 0 5px;
      display: flex;
      align-items: center;
    }
  }
  &__email {
    color: var(--color-white);
    transition: color .2s ease-in-out;
    &:hover {
      color: var(--color-primary);
    }
  }
  &-link {
    color: var(--color-white);
    &:hover {
      color: var(--color-primary);
    }
  }
  &__wrapper {
    color: var(--color-content-hover);
  }
  &__bottom {
    margin: 0 0 -4px 0;
    display: inline-block;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-bottom: 40px solid var(--color-primary);
  }
  &-svg {
    fill: var(--color-white);
    margin: 16px -6px;
    width: 14px;
    position: absolute;
  }
  &__svg {
    fill: var(--color-content-hover);
    width: 7px;
    margin: 0 5px;
  }
  &__copyright {
    font-size: 15px;
  }
}

@media (max-width: 1241px) {
  .footer {
    &__list {
      flex-wrap: wrap;
      margin: 0 -20px;
    }
    &__section {
      &-list {
        flex-wrap: wrap;
        margin: 0 -20px;
        padding: 30px 0 0 0;
      }
      &-item {
        width: 50%;
        padding: 20px;
        border-bottom: 1px solid var(--color-alternative);
      }
    }
    &__tags {
      &-link {
        font-size: 12px;
        padding: 5px;
      }
    }
  }
  ._first-order {
    order: -1;
  }
}
@media (max-width: 768px) {
  .footer {
    &__newsletter {
      &-form {
        display: inline-block;
        margin: 0 auto;
      }
      &-input {
        padding: 5px;
      }
      &-button {
        padding: 5px;
      }
    }
    &__section {
      &__list {
      margin: 0 -10px;
    }
      &-item {
        text-align: center;
        width: 100%;
        padding: 10px;
      }
    }
    &__news {
      &-wrapper {
        flex-grow: 1;
      }
    }
  }
  .social {
    &__list {
      justify-content: center;
    }
  }
}

@media (max-width: 645px) {
  .footer {
    &__list {
      display: block;
      &-item {
        display: block;
        margin: 0 auto;
      }
    }
    &__arrow {
      display: block;
      margin: 0 auto;
    }
    &__copyright {
      font-size: 11px;
    }
  }
}