<section class="section-secondary">
  <section class="page__section _overflow-hidden">
    <ul class="footer__section-list">
      <li class="footer__section-item">
        <h3 class="footer__title">Newsletter</h3>
        <p class="footer__text">Не следует, однако забывать, что рамки и место обучения кадров влечет за собой процесс
          внедрения и модернизации форм развития. Товарищи!укрепление и развитие структуры просто последняя буква бесит
          Артёма</p>
        <form class="footer__newsletter-form">
          <label class="footer__newsletter-label">
            <input type="text"
                   id="subscribe"
                   class="footer__newsletter-input"
                   placeholder="Subscribes">
            <button class="button footer__newsletter-button ">GO</button>
          </label>
        </form>
      </li>
      <li class="footer__section-item _first-order">
        <h3 class="footer__title">Latest News</h3>
        <ul class="footer__news-list">
          <li class="footer__news-item">
            <a class="footer__news-item-link"
               href="#">
              <div class="footer__news-item-image">
                <img src="assets/images/car1.jpg"
                     alt="">
              </div>
              <div class="footer__news-wrapper">
                <span class="footer__text">Занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что дальнейшее развитие различных</span>
                <data class="footer__news-data"
                      value="21.02.2020">21.02.2020
                </data>
              </div>
            </a>
          </li>
          <li class="footer__news-item">
            <a class="footer__news-item-link"
               href="#">
              <div class="footer__news-item-image">
                <img src="assets/images/car2.jpg"
                     alt="">
              </div>
              <div class="footer__news-wrapper">
                <span class="footer__text">Занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности </span>
                <data class="footer__news-data"
                      value="21.02.2022">21.02.2022
                </data>
              </div>
            </a>
          </li>
        </ul>
      </li>
      <li class="footer__section-item">
        <h3 class="footer__title">Tags</h3>
        <ul class="footer__tags-list">
          <li class="footer__tags-item">
            <a class="button footer__tags-link"
               href="#">Agent Login</a>
          </li>
          <li class="footer__tags-item">
            <a class="button footer__tags-link"
               href="#">Customer Login</a>
          </li>
          <li class="footer__tags-item">
            <a class="button footer__tags-link"
               href="#">Not a member</a>
          </li>
          <li class="footer__tags-item">
            <a class="button footer__tags-link"
               href="#">Contact</a>
          </li>
          <li class="footer__tags-item">
            <a class="button footer__tags-link"
               href="#">New Horizontals</a>
          </li>
          <li class="footer__tags-item">
            <a class="button footer__tags-link"
               href="#">Language</a>
          </li>
          <li class="footer__tags-item">
            <a class="button footer__tags-link"
               href="#">Tag</a>
          </li>
          <li class="footer__tags-item">
            <a class="button footer__tags-link"
               href="#">Nice</a>
          </li>
          <li class="footer__tags-item">
            <a class="button footer__tags-link"
               href="#">Source</a>
          </li>
          <li class="footer__tags-item">
            <a class="button footer__tags-link"
               href="#">Purple</a>
          </li>
        </ul>
      </li>
      <li class="footer__section-item">
        <h3 class="footer__title">Address</h3>
        <p class="footer__text">рыбкао тексет не очень длиный но и не коротнкий кароче какая то херня</p>
        <p class="footer__text">рыбкао тексет не очень длиный но и не коротнкий кароче какая то херня</p>
        <p class="footer__text">
          <span class="footer__text _color-primary">E-mail:</span>
          <a class="footer__email"
             href="mailto:work.alex.alexandrov@gmail.com?subject=Who is your daddy?">work.alex.alexandrov@gmail.com</a>
        </p>
        <social-nav></social-nav>
        <div id="social-footer"></div>
      </li>
    </ul>
    <div class="footer__navigation">
      <ul class="footer__list">
        <li class="footer__list-item">
          <a class="footer-link"
             href="#">Home</a>
        </li>
        <svg class="footer__svg"
             data-src="./assets/icons/footer_line.svg"></svg>
        <li class="footer__list-item">
          <a class="footer-link"
             href="#">Destinations</a>
        </li>
        <svg class="footer__svg"
             data-src="./assets/icons/footer_line.svg"></svg>
        <li class="footer__list-item">
          <a class="footer-link"
             href="#">Cruises</a>
        </li>
        <svg class="footer__svg"
             data-src="./assets/icons/footer_line.svg"></svg>
        <li class="footer__list-item">
          <a class="footer-link"
             href="#">Specials</a>
        </li>
        <svg class="footer__svg"
             data-src="./assets/icons/footer_line.svg"></svg>
        <li class="footer__list-item">
          <a class="footer-link"
             href="#">Holidays</a>
        </li>
        <svg class="footer__svg"
             data-src="./assets/icons/footer_line.svg"></svg>
        <li class="footer__list-item">
          <a class="footer-link"
             href="#">Blog</a>
        </li>
        <svg class="footer__svg"
             data-src="./assets/icons/footer_line.svg"></svg>
        <li class="footer__list-item">
          <a class="footer-link"
             href="#">Contact US</a>
        </li>
      </ul>
      <div class="footer__wrapper">
        <span class="footer__copyright">Copyright . All rights reserved</span>
      </div>
      <div class="footer__bottom">
        <a class="footer__bottom__svg"
           href="#top">
          <svg class="footer-svg"
               data-src="../../../assets/icons/arrow_footer.svg"></svg>
        </a>
      </div>
    </div>
  </section>
</section>
