<section class="section__container">
  <div class="header">
    <div class="header__content">
      <h1 class="header__title">MY PORTFOLIO</h1>
    </div>
    <ul class="header__list">
      <li class="header__item">
        <a class="header__item-link"
           target="_blank"
           href="https://ru-ru.facebook.com">
          <svg class="header__icon"
               data-src="./assets/icons/facebook.svg"></svg>
        </a>
      </li>
      <li class="header__item">
        <a class="header__item-link"
           target="_blank"
           href="https://twitter.com">
          <svg class="header__icon"
               data-src="./assets/icons/twitter.svg"></svg>
        </a>
      </li>
      <li class="header__item">
        <a class="header__item-link"
           target="_blank"
           href="https://vk.com">
          <svg class="header__icon"
               data-src="./assets/icons/vkontakte.svg"></svg>
        </a>
      </li>
      <li class="header__item">
        <a class="header__item-link"
           target="_blank"
           href="https://www.whatsapp.com">
          <svg class="header__icon"
               data-src="./assets/icons/whatsapp.svg"></svg>
        </a>
      </li>
    </ul>
    <a class="header__search"
       routerLink ="/about-me" >
      <svg class="header__svg" routerLinkActive="active"
           data-src="./assets/icons/login.svg"></svg>
      <span class="header__logo" routerLinkActive="active">ABOUT ME</span>
    </a>
  </div>
</section>
