.header {
  color: var(--color-secondary);
  background: var(--color-lie);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  &__content {
    font-size: 45px;
    padding-left: 20px;
  }
  &__list {
    display: flex;
    margin: 0 -10px;
  }
  &__item {
    &-link {
      display: flex;
      align-items: center;
      height: 80px;
      padding: 10px;
    }
    &:hover .header__icon {
      fill: var(--color-primary);
    }
  }
  &__icon  {
    fill: var(--color-secondary);
    transition: .3s;
    width: 40px;
    height: 40px;
  }
  &__search {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    &:hover .header{
      &__logo {
        color: var(--color-primary);
      }
      &__svg {
        fill: var(--color-primary);
      }
    }
  }
  &__svg {
    width: 80px;
    height: 80px;
    fill: var(--color-secondary);
    transition: .3s;
  }
  &__logo {
    padding: 10px 0;
    font-size: 15px;
    color: var(--color-secondary);
    font-weight: bold;
    transition: .3s;
  }
  @media (max-width: 854px) {
    display: block;
    height: 200px;
    &__list {
      display: flex;
      justify-content: center;
    }
    &__search {
      display: inline-block;
      text-align: center;
      padding-right: 0;
    }
    &__content {
    font-size: 35px;
    }
    &__item {
      &-link {
        height: 60px;
      }
    }
    &__icon  {
      width: 30px;
    }
  }
  }
.active {
  fill: var(--color-primary);
  color: var(--color-primary);
  transition: color .3s;
}
