.photo {
  overflow-x: hidden;
  padding-top: 30px;
  text-align: center;
  &__title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  &__line {
    height: 2px;
    width: 60px;
    margin-bottom: 20px;
    display: inline-block;
    background-color: darkgray;
  }
  &__list {
    display: flex;
    margin: 0 -5px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    &-item {
      width: 20%;
      height: 386px;
      padding: 5px;
      flex-shrink: 0;
    }
    &-img {
      object-fit: cover;
    }
  }
  @media (max-width: 1920px) {
    &__list {
      flex-wrap: nowrap;
      overflow-x: auto;
    }
    &__list-item {
      width: auto;
    }
  }
  @media (max-width: 640px) {
    &__title {
      font-size: 22px;
    }
  }
}
