<div class="section__primary">
    <div class="section__container photo">
        <h3 class="photo__title">#INDOSHINO</h3>
        <div class="photo__line"></div>
        <ul class="photo__list">
            <li class="photo__list-item">
                <img class="photo__list-img"
                     alt=""
                     src="./assets/images/photo-project2.jpg">
            </li>
            <li class="photo__list-item">
                <img class="photo__list-img"
                     alt=""
                     src="./assets/images/photo-project2.jpg">
            </li>
            <li class="photo__list-item">
                <img class="photo__list-img"
                     alt=""
                     src="./assets/images/photo-project2.jpg">
            </li>
            <li class="photo__list-item">
                <img class="photo__list-img"
                     alt=""
                     src="./assets/images/photo-project2.jpg">
            </li>
            <li class="photo__list-item">
                <img class="photo__list-img"
                     alt=""
                     src="./assets/images/photo-project2.jpg">
            </li>
            <li class="photo__list-item">
                <img class="photo__list-img"
                     alt=""
                     src="./assets/images/photo-project2.jpg">
            </li>
            <li class="photo__list-item">
                <img class="photo__list-img"
                     alt=""
                     src="./assets/images/photo-project2.jpg">
            </li>
            <li class="photo__list-item">
                <img class="photo__list-img"
                     alt=""
                     src="./assets/images/photo-project2.jpg">
            </li>
            <li class="photo__list-item">
                <img class="photo__list-img"
                     alt=""
                     src="./assets/images/photo-project2.jpg">
            </li>
            <li class="photo__list-item">
                <img class="photo__list-img"
                     alt=""
                     src="./assets/images/photo-project2.jpg">
            </li>
        </ul>
    </div>
</div>

