<section class="section-secondary">
  <section class="page__section">
    <div class="order"
         id="clicking">
      <div class="order__title">
        <span class="order__title-top">find your</span>
        <span class="order__title-bottom">holydays</span>
      </div>
      <div class="order__wrapper">
        <div class="order__wrapper-arrow"></div>
      </div>
      <form class="order__form">
        <label class="order__label"
               for="where">
          <span class="order__text">Where</span>
          <input class="order__form-input _where"
                 type="text"
                 name="where"
                 id="where"
                 placeholder="destination">
          <svg class="order__icon"
               data-src="./assets/icons/destination.svg"></svg>
        </label>
        <label class="order__label"
               for="when">
          <span class="order__text">When</span>
          <input class="order__form-input _when"
                 type="date"
                 name="when"
                 id="when"
                 placeholder="select date">
        </label>
        <button class="button order__button"
                type="submit">Search
        </button>
      </form>
    </div>
  </section>
</section>
