.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  height: 135px;
  position: relative;
  &__title {
    display: block;
    text-align: left;
    text-transform: uppercase;
    width: 170px;
    letter-spacing: 1px;
    &-top {
      color: var(--color-alternative);
      font-size: 20px;
    }
    &-bottom {
      font-size: 26px;
      font-weight: 800;
      color: var(--color-white);
    }
  }
  &__label {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    margin-right: 40px;
  }
  &__text {
    color: var(--color-alternative);
    font-size: 18px;
    margin-right: 40px;
  }
  &__form {
    color: var(--color-white);
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    width: 80%;
    &-input {
      border: 2px solid var(--color-black);
      padding: 15px 50px 15px 15px;
      font-size: 16px;
      flex-grow: 1;
      min-width: 200px;
      max-width: 100%;
      color: var(--color-secondary);
      background-color: var(--color-white);
      transition: border-color .3s ease-in-out;
      &:focus {
        border: 2px solid var(--color-primary);
      }
      &._when {
        padding: 15px;
      }
    }
  }
  &__button {
    cursor: pointer;
    text-transform: none;
    font-size: 18px;
    border-radius: 0;
  }
  &__icon {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    transform: translateX(-15px);
    fill: var(--color-black);
    transition: fill .3s ease-in-out;
  }
  &__wrapper  {
    position: relative;
    background-color: var(--color-white);
    height: 135px;
    width: 1px;
  }
  @media (max-width: 1241px) {
    &__label {
      margin-right: 20px;
    }
    &__text {
      font-size: 16px;
      margin-right: 20px;
    }
    &__button {
      font-size: 16px;
    }
    &__title {
      width: 150px;
      &-top {
        font-size: 18px;
      }
      &-bottom {
        font-size: 24px;
      }
    }
  }
  @media (max-width: 1101px) {
    &__label {
      margin-right: 10px;
    }
    &__text {
      font-size: 14px;
      margin-right: 10px;
    }
    &__button {
      font-size: 14px;
    }
    &__form {
      &-input {
        font-size: 12px;
      }
    }
    &__icon {
      width: 16px;
      height: 16px;
    }
    &__title {
      &-top {
        font-size: 16px;
      }
      &-bottom {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 960px) {
  .order {
    position: relative;
    justify-content: center;
    flex-direction: column;
    min-height: 135px;
    height: 100%;
    &__title {
      margin: 0 0 20px 0;
      text-align: center;
    }
    &__wrapper {
      width: 100%;
      height: 1px;
      margin: 0 0 35px 0;
    }
    &__label {
      max-width: 480px;
    }
    &__form {
      flex-direction: column;
      align-items: center;
      width: 100%;
      justify-content: center;
      &-input {
        padding: 10px 48px 10px 10px;
        &._when {
          padding: 10px;
        }
      }
    }
    &__label {
      width: 100%;
      margin: 0 0 20px 0;
    }
    &__text {
      width: 42px;
    }
    &__button {
      margin: 0;
    }
    &__icon {
      width: 16px;
      height: 16px;
    }
  }
}
