.about {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px - 100px);
  background-color: var(--color-secondary);
  &::before {
    content: "";
    background-image: url(/assets/images/about_bridge.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .2;
  }
  &__container {
    position: relative;
    color: var(--color-white);
    text-align: center;
  }
  &__content {
    margin-bottom: 45px;
  }
  &__text {
    font-size: 35px;
  }
  &__title {
    font-size: 65px;
    margin-bottom: 10px;
  }
  &__button {
    font-size: 25px;
    padding: 20px;
    white-space: nowrap;
  }
  &__button:last-child {
    margin-left: 10px;
  }
  @media (max-width: 800px) {
    height: 500px;
    padding: 0 10px;
      &__text {
      margin-bottom: 20px;
      font-size: 20px;
    }
    &__title {
      font-size: 40px;
    }
    &__button {
      padding: 10px;
      font-size: 15px;
    }
  }
  @media (max-width: 480px) {
    &__button {
      padding: 10px;
      font-size: 12px;
      min-width: 170px;
      &:last-child {
        margin-left: 0;
      }
      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
}
