<section class="about">
    <div class="about__container">
        <div class="about__content">
            <h1 class="about__title">TO TRAVEL IS TO LIVE</h1>
            <span class="about__text">You Don't Need Margin to Disappear. All you need is a destination
                </span>
        </div>
        <div>
            <a class="button about__button"
               type="submit"
               href="#">SHOW ON THE MAP</a>
            <a class="button about__button"
               href="#clicking"
               type="submit">MORE INFO</a>
        </div>
    </div>
</section>